/* common */
address, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, iframe, input, li, object, ol, p, select, textarea, ul {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}

/* 검색 페이지 */

.search_logo {
    display: inline-block;
    vertical-align: bottom;
}

#nx_search_form {
    
}

#wrap {
    position: relative;
    min-width: 1116px;
    background: url(../img/bg_wrap_dot.gif) repeat-y 50% 0;
    zoom: 1;
}

/* 상단 */

#header_wrap {
    position: relative;
    z-index: 6000;
    width: 100%;
    border-top: 2px solid #00c73c;
    background: #fff;
}

#content, .footer_group, .header_group, .lnb_group {
    clear: both;
    width: 1116px;
    margin: 0 auto;
    zoom: 1;
}

.header_group {
    position: relative;
    z-index: 6000;
    height: 105px;
}

#header_wrap .logo_naver {
    width: 1px;
    height: 21px;
    padding-left: 114px;
    background-position: -4px -4px;
    display: block;
}
.spnew {
    display: inline-block;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    vertical-align: top;
}
a {
    color: #00c;
    text-decoration: none;
}

/* 검색 박스 */
.greenwindow {
    position: relative;
    display: inline-block;
}

fieldset, iframe, img {
    border: none;
}

.greenbox {
    display: inline;
    float: left;
    position: relative;
    border: 2px solid #649dfa;
    background: #fff;
}

.greenbox .keyword {
    display: block;
    width: 452px;
    height: 45px;
}

.greenbox input {
    width: 389px;
    height: 23px;
    margin: 13px 0 0 9px;
    _margin-top: 8px;
    padding: 0;
    border: 0;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/* 자동 완성 */

.autocomplete .bt_atcp {
    position: absolute;
    top: 0;
    left: 423px;
    width: 30px;
    line-height: 0;
}

.blind {
    overflow: hidden!important;
    position: absolute!important;
    clip: rect(0 0 0 0)!important;
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
}

.bt_atcp {
    padding-top: 15px;
}

.autocomplete .bt_atcp .ico_arrow img {
    width: 15px;
    height: 15px;
}

/* 검색 버튼 */
.greenwindow .bt_search {
    float: left;
    position: relative;
    *position: static;
    width: 49px;
    height: 49px;
    margin-left: -2px;
    padding: 0;
    border: 0;
    background-color: #649dfa    ;
    cursor: pointer;
}

.glyphicon-search{
    color: white;
    width: 30px;
    height: 20px;
    font-size: 25px;
}


/* 자동 검색 박스 */

.ly_atcmp {
    position: absolute;
    z-index: 7000;
    top: 47px;
    left: 0;
    width: 503px;
}

.api_atcmp_wrap, .api_atcmp_wrap button, .api_atcmp_wrap dd, .api_atcmp_wrap div, .api_atcmp_wrap dl, .api_atcmp_wrap dt, .api_atcmp_wrap fieldset, .api_atcmp_wrap form, .api_atcmp_wrap h1, .api_atcmp_wrap h2, .api_atcmp_wrap h3, .api_atcmp_wrap h4, .api_atcmp_wrap h5, .api_atcmp_wrap li, .api_atcmp_wrap ol, .api_atcmp_wrap p, .api_atcmp_wrap ul {
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
    line-height: 18px;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
}

.api_atcmp_wrap {
    position: relative;
    overflow: hidden;
    border: 1px solid #bec8d8;
    background-color: #fff;
    color: #666;
    zoom: 1;
}

.api_atcmp_wrap .words {
    overflow: hidden;
}

.api_atcmp_wrap .words ul {
    overflow: hidden;
    padding: 8px 0 6px;
    zoom: 1;
}

ol, ul {
    list-style-type: none;
}

.api_atcmp_wrap .words li {
    display: block;
    position: relative;
    overflow: hidden;
    height: 27px;
    font-size: 14px;
    line-height: 29px;
    zoom: 1;
    vertical-align: top;
}

.api_atcmp_wrap li {
    list-style: none;
}

.login-area {
    display: inline-block;
    float: right;
    margin-top: 30px;
    vertical-align: bottom;
}
.btn-login{
    background-color: #649dfa;
    color: white;
}

.heading-wrap {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* 상단 배경 */
.main-nav {
    background-color: white !important;
}

.glyphicon-bell, .glyphicon-envelope {
    color: gray !important;
    font-size : 25px !important;
}

.dropdown .myfirst {
    background-color: white !important;
}

.blog-navbar-id {
    color : #649dfa !important;
}

/* 로그인쪽 */
.navbar-nav {
    margin-right : -23px;
    color : gray;
}

.caret {
    color : gray !important;
}

.bell, .envelope {
    width : 40px !important;
    border : 0 !important;
    vertical-align: bottom;
}

.navbar-nav .blog-navbar-id {
    color: black !important;
    font-size : 15px;
    font-weight: 100 !important;
}

.dropdown-menu{
    min-width:30px !important;
    right:auto !important;
}
  
.blognav_logout_btn {  
	padding-top:20px !important; 
}


#my_saying .dropdown-toggle, .dropdown-toggle:focus, .dropdown-toggle:hover, .dropdown-toggle:focus-within {
    background-color: white !important;
}

.blog-profile-img {
    width: 35px !important;
    border:1px solid #ddd;
    border-radius: 20px;
}


/* 검색 카테고리 */
.search-opt {
     border : 1px solid #CCC;
}


.search-category {
    padding-left:15%;
    border-spacing: 5px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.search-category-list {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

.search-category-list li {
    float: left;
    padding-right: 20px;
}

.cat-on {
    color:#649fda;
    font-size: 21px;
    text-decoration: underline;    
    
}

#sort-box {
    border: 0;
    padding:0;
}

.sort-area {
    font-size: 16px;
    display: inline-block;
    padding-right: 50px; 
    background-origin: ;
    border-right : 1px solid #CCC; 
}

/* 검색결과 */

.search-result {
    width : 68%;
    padding-top : 30px;
    padding-left : 135px;
    min-height: 800px;
    border-right: 1px solid #ddd;
}

.search-ranking {
    padding-top : 30px;
}

/* 연관검색어 */
.related_content {
    border-bottom : 1px solid #DDD;
}

._related_keyword_lis {
    display: block;
    float: left;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 12px;
    line-height: 17px;
}

.sp_keyword .link_help .api_ico_help {
    vertical-align: top;
}

.related_content ul,li{
    list-style: none;
    display: inline-block;
}

.related_content ul {
    padding-left: 25px;
}

.related_content li {
    padding-right: 10px;
    float: left;
}

.related_content li a {
    color :#00c;
}

/* 검색 결과 메인 */
.section_head{
    margin-left : 0px;
    height: 40px;
}

.result-section{
    padding-top : 20px;
    border-bottom : 1px solid #ccc;
}

.result-total {
    padding-top : 30px;
    border-bottom : 1px solid #ccc;
}

h2 {
    display: block;
    float: left;
    margin-bottom: 17px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.title_num {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: -2px !important;
    font-size: 12px;
    color: #666;
}

.keyword {
    font-weight: bold;
    font-size: 16px;
}

.section-more a {
    color : #00c;
    float: right;
    margin-right: 20px;
}

/* 지식인 내용 */
.jisikin-list li {
    padding-bottom : 20px;
    padding-top: 10px;
}

.jisikin-list-title {
    color: #00C;
}
  
.content {
	max-height : 40px;
    min-width : 600px;
    max-width : 700px;
    width: 80%;
    display: block;
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     word-wrap:break-word; 
}

.p-answer {
    width: 90%;
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     word-wrap:break-word; 
}

.create_date{
    color: gray;
    font-weight: 100;
}

.cat {
    padding-top : 5px;
    color : gray;
}

/* 블로그, 밴드 */
.search-blog-img{
    display: inline;
    float:left;
    padding-right: 7px;
}

.band-title {
    color : #34cc6c;
    display: inline;
}

/* 이미지 */

.result-image img {
    max-width: 200px;
}

/* 동영상 */
.runtime {
    display: block;
    position: absolute;
    right: -0px;
    margin-top: -14px;
    padding: 3px 2px 0;
    background-color: rgba(0,0,0,.25);
    line-height: 11px;
    font-size: 12px;
    color: #fff;
    z-index: 1000;
}

.video {
    position: relative;
}

.play {
    width: 1px;
    height: 24px;
    padding-left: 23px;
    position: absolute;
    left: 0px;
    margin-top:-25px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    z-index: 1000;
    vertical-align: top;
    background: url(../../images/btn-play.png) no-repeat;
    background-size: 23px;
}

.video-title {
    color: #00c;
}

.video_date {
    padding-left : 10px;
}

/* vod */
.vod-title {
    font-size: 24px;
}

.running-time {
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.actor {
    display: block;
}

em {
    color:#00c;
}

.vod-list li{
    padding: 0px !important;
}

.vod-list dl{
    width: 800px;
}

/* 검색 순위 */

.rank-list {
    margin-left :-13%;
    padding-top: 30px;
    display: inline-block;
}

.search-rank h2 {
    display: block;
    float: left;
    margin-bottom: 17px;
    font-size: 13px;
    color: #000;
}

ol {
    list-style-type: none;
}

.rank-list ol {
    padding-top : 10px;
    padding-bottom : 10px;
    border-top : 1px solid #ddd;
    border-bottom : 1px solid #ddd;
}

.rank-list li:first-child {
    margin-top:0px;
}

.rank-list li:first-child .tit{
    font-size : 18px;
}

.rank-list li {
    margin-top: 13px;
    display: block;
}

.bx {
    display: block;
    position: relative;
    height: 14px;
    color: #000;
    line-height: 15px;
    zoom: 1;
}

.bx_item {
    padding-right: 40px;
}

.rank-list .keyword {
    display: block;
    color: #000;
    font-weight: 200;
    font-size : 13px;
}

.keyword .num {
    display: block;
    float: left;
    min-width: 13px;
    height: 12px;
    margin-right: 9px;
    border: 1px solid #e0e0e0;
    color: #666;
    line-height: 12px;
    font-size: 11px;
    text-align: center;
    font-family: tahoma,sans-serif;
}

.realtime_srch_area {
    margin-top: 3px;
    zoom: 1;
}

.realtime_srch_area .dsc {
    float: left;
    margin-top: 7px;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
    font-size: 11px;
    color: #999;
}

.tit:hover {
    text-decoration: underline;
}

/* 페이징 */
.paging {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    padding: 37px 0 39px;
    text-align: center;
}

.paging-strong {
    border : 1px solid #649dfa !important;
    display: inline-block;
    position: relative;
    min-width: 19px;
    margin-right: 1px;
    padding: 4px 3px;
    border: 1px solid #fff;
    font-family: tahoma,'굴림',gulim,sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    text-decoration: none;
    vertical-align: top;
}  

.paging a, .paging strong {
    display: inline-block;
    position: relative;
    min-width: 19px;
    margin-right: 1px;
    padding: 4px 3px;
    border: 1px solid #fff;
    font-family: tahoma,'굴림',gulim,sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #666;
    font-weight: 700;
    text-decoration: none;
    vertical-align: top;
}

.not_found02 {
	min-height : 300px;
    padding: 40px 0 21px 30px;
    zoom: 1;
}

.not_found02 p {
    padding-right: 20px;
    font-weight: 700;
    font-size: 13px;
    color: #000;
    line-height: 18px;
    word-wrap: break-word;
    word-break: break-all;
}

.not_found02 p em {
    color: #eb0c00;
}

.not_found02 ul {
    margin: 14px 0 0 10px;
    font-size: 12px;
    line-height: 18px;
}

.not_found02 li {
    margin-bottom: 2px;
    padding-left: 7px;
    background: url(https://ssl.pstatic.net/sstatic/search/pc/img/sprite_bu_v1.gif) no-repeat 0 5px;
    color: #000;
}