<div class="row band-view-contants">
		   <div class="col-sm-12">
		        <div class="col-sm-11">
		            <div class="row" >
		                <div class="col-sm-12" style="padding-left: 0px;">
		                    <strong>${item.user.name } 님</strong>
		                </div>
		                <div class="col-sm-12 view-contents-date" style="padding-left: 0px;">
		                    <p><fmt:formatDate value="${item.createDate }" pattern="yyyy년 MM월 dd일" /></p>
		                </div>
		            </div>
		        </div>
		        <div class="col-sm-1" style="position: relative; right: -30px;">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="/link/resources/images/band_new_option.PNG" class="view-contants-option" alt=""/></a>
		            <ul class="dropdown-menu" role="menu">
		                <li><a href="#" data-value="${item.writeNo }">글 수정</a></li>
		                <li><a href="#" data-value="${item.writeNo }">공지로 등록</a></li>
		                <li><a href="#" data-value="${item.writeNo }">삭제하기</a></li>
		              </ul>
		        </div>    
		    </div>
		    <div class="band-contents-body">
		    <!--엔빵-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_nbbang.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">N빵</span><span style="color: #999"> 1명 냈음</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">￦ 10,000 / 1명</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--엔빵 끝-->
		  
		  <!--TO-DO-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_todo.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">To-Do</span><span style="color: #999"> 1/3개 완료</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">오늘 할일</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--To-Do 끝-->
		  
		   <!--참가신청-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_join.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">참가 신청서</span><span style="color: #999"> 0/1개 완료</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">고기벙</strong>
		                            </div>
		                            <div class="col-sm-12" style="color: #999; font-size: 11px;">
		                              2019년 07월 22일  
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--참가신청 끝-->
		  
		    <!--투표-->
		   <a href="#">
		    <div class="col-sm-12" style="margin-bottom: 10px;">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row vote-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_vote.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">투표중</span><span style="color: #999"> 1명 참여</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">샘플 투표</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="row bote-hangmok">
		                    <div class="col-sm-12">
		                        <ul>
		                            <li>1번</li>
		                            <li>2번</li>
		                            <li>3번</li>
		                            <li>4번</li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    </a>
		<!--투표 끝-->
		   
		<!--사진 표시-->   
		 <div class="row">
		    <div class="col-sm-12 photo-form">
		        <img src="/link/resources/images/band_into_img.JPG" alt=""/>
		    </div>
		</div>
		 </div>
		   <!--사진 표시 끝-->
		   
		    <div class="col-sm-12">
		      
		       <div class="row">
		           <div class="col-sm-10" style="padding-right: 0px; padding-left: 0px;">
		               <input type="text" class="form-control band-new-command" placeholder="댓글을 남겨주세요" aria-describedby="sizing-addon3"/>
		           </div>
		           <div class="col-sm-2" style="padding-left: 0px; padding-right: 0px;">
		                <button type="button" class="btn btn-default" style="width: 100%; height: 30px;font-size: 90%; color: #5c5a5a">보내기</button>    
		           </div>
		       </div>
		    </div>
		</div>
	</c:forEach>	
	
		<div class="row band-view-contants">
		   <div class="col-sm-12">
		        <div class="col-sm-11">
		            <div class="row" >
		                <div class="col-sm-12" style="padding-left: 0px;">
		                    <strong>이재헌 님</strong>
		                </div>
		                <div class="col-sm-12 view-contents-date" style="padding-left: 0px;">
		                    <p>2019년 7월 22일 오후 2:23</p>
		                </div>
		            </div>
		        </div>
		        <div class="col-sm-1" style="position: relative; right: -30px;">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="/link/resources/images/band_new_option.PNG" class="view-contants-option" alt=""/></a>
		            <ul class="dropdown-menu" role="menu">
		                <li><a href="#">글 수정</a></li>
		                <li><a href="#">공지로 등록</a></li>
		                <li><a href="#">삭제하기</a></li>
		              </ul>
		        </div>    
		    </div>
		    <div class="band-contents-body">
		    <!--엔빵-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_nbbang.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">N빵</span><span style="color: #999"> 1명 냈음</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">￦ 10,000 / 1명</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--엔빵 끝-->
		  
		  <!--TO-DO-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_todo.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">To-Do</span><span style="color: #999"> 1/3개 완료</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">오늘 할일</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--To-Do 끝-->
		  
		   <!--참가신청-->
		   <a href="#">
		    <div class="col-sm-12">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row nbbang-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_join.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">참가 신청서</span><span style="color: #999"> 0/1개 완료</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">고기벙</strong>
		                            </div>
		                            <div class="col-sm-12" style="color: #999; font-size: 11px;">
		                              2019년 07월 22일  
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    </a>
		<!--참가신청 끝-->
		  
		    <!--투표-->
		   <a href="#">
		    <div class="col-sm-12" style="margin-bottom: 10px;">
		        <div class="row">
		            <div class="col-sm-12 band-nbbang">
		               
		                <div class="row vote-form">
		                    <div class="col-sm-1">
		                        <img src="/link/resources/images/active_vote.PNG"
		                         style="width: 20px; height: 20px; margin-top: 8px" alt=""/>
		                    </div>
		                    <div class="col-sm-11">
		                        <div class="row">
		                            <div class="col-sm-12">
		                                <span style="color: #34CC6C">투표중</span><span style="color: #999"> 1명 참여</span>
		                            </div>
		                            <div class="col-sm-12">
		                                <strong style="color: black">샘플 투표</strong>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="row bote-hangmok">
		                    <div class="col-sm-12">
		                        <ul>
		                            <li>1번</li>
		                            <li>2번</li>
		                            <li>3번</li>
		                            <li>4번</li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    </a>
		<!--투표 끝-->
		   
		<!--사진 표시-->   
		 <div class="row">
		    <div class="col-sm-12 photo-form">
		        <img src="/link/resources/images/band_into_img.JPG" alt=""/>
		    </div>
		</div>
		 </div>
		   <!--사진 표시 끝-->
		   
		    <div class="col-sm-12">
		      
		       <div class="row">
		           <div class="col-sm-10" style="padding-right: 0px; padding-left: 0px;">
		               <input type="text" class="form-control band-new-command" placeholder="댓글을 남겨주세요" aria-describedby="sizing-addon3"/>
		           </div>
		           <div class="col-sm-2" style="padding-left: 0px; padding-right: 0px;">
		                <button type="button" class="btn btn-default" style="width: 100%; height: 30px;font-size: 90%; color: #5c5a5a">보내기</button>    
		           </div>
		       </div>
		    </div>
		</div>
		
	</div>